
Stuff/BulgeJulia/.ipynb_checkpoints/Hessenberg-checkpoint.ipynb
*/.DS_Store
Fall 2023 Courses/SciComp/Week2/.ipynb_checkpoints/ODE-checkpoint.ipynb
Fall 2023 Courses/SciComp/Week2/.ipynb_checkpoints/Untitled2-checkpoint.ipynb
*.ipynb
